<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="registerFrom">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="txtSKU" class="col-form-label">SKU:</label>
        </div>
        <div class="col-auto">
          <input type="text" id="txtSKU" maxlength="6" class="form-control" formControlName="sku"
            aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" formControlName="descontinuado" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
              Descontinuado
            </label>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-2">
          <label class="col-form-label text-end">Articulo:</label>
        </div>
        <div class="col-10">
          <input type="text" formControlName="articulo" maxlength="15" class="form-control">
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-2">
          <label class="col-form-label text-end">Marca:</label>
        </div>
        <div class="col-10">
          <input type="text" formControlName="marca" maxlength="15" class="form-control">
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-2">
          <label class="col-form-label text-end">Modelo:</label>
        </div>
        <div class="col-10">
          <input type="text" formControlName="modelo" maxlength="20" class="form-control">
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-4">
          <label class="col-form-label text-end">Departamento:</label>
        </div>
        <div class="col-8">
          <select class="form-control" formControlName="id_departamento">
            <option value="">--Seleccionar--</option>
            <option *ngFor="let d of departamentos" [value]="d.id"> {{d.nombre_departamento}} </option>
          </select>
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-2">
          <label class="col-form-label text-end">Clase:</label>
        </div>
        <div class="col-10">
          <select class="form-control" formControlName="id_clase">
            <option value="">--Seleccionar--</option>
            <option *ngFor="let c of clases" [value]="c.id"> {{c.nombre_clase}} </option>
          </select>
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-2">
          <label class="col-form-label text-end">Familia:</label>
        </div>
        <div class="col-10">
          <select class="form-control" formControlName="id_familia">
            <option value="">--Seleccionar--</option>
            <option *ngFor="let f of familia" [value]="f.id"> {{f.nombre_familia}} </option>
          </select>
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-auto">
          <label class="col-form-label text-end">Stock:</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" maxlength="9" formControlName="stock">
        </div>
        <div class="col-auto">
          <label class="col-form-label text-end">Cantidad:</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" maxlength="9" formControlName="cantidad">
        </div>
      </div>

      <div class="row g-3 mt-1 align-items-center">
        <div class="col-auto">
          <label class="col-form-label text-end">Fecha alta:</label>
        </div>
        <div class="col-auto">
          <input type="date" class="form-control" formControlName="fecha_alta">
        </div>
        <div class="col-auto">
          <label class="col-form-label text-end">Fecha baja:</label>
        </div>
        <div class="col-auto">
          <input type="date" class="form-control" formControlName="fecha_baja">
        </div>
      </div>

      <div class="float-end mt-3">
        <button class="btn btn-success me-1" [class.oculto]="ocultarBotonGuardar"
          (click)="guardar_producto()">Guardar</button>
        <button class="btn btn-success me-1" [class.oculto]="ocultarBotonConsultar"
          (click)="buscador()">Consultar</button>
        <button class="btn btn-primary me-1" [class.oculto]="ocultarBotones" (click)="actualizar()">Actualizar</button>
        <button class="btn btn-danger" [class.oculto]="ocultarBotones" (click)="eliminar()">Eliminar</button>
      </div>
    </form>
  </div>
  <div class="row mt-5" *ngIf="!error">
    <div class="d-flex justify-content-center align-items-center ">
      <div [class]="danger">
        <!-- <h4 class="alert-heading">Error:</h4> -->
        <p class="mb-0"> {{mensaje}}</p>
      </div>
    </div>
  </div>
</div>